.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

/*
div.slide-background.present[data-background-hash]:not([data-background-hash*="pagerduty.github.io/gitpitch-deck"]) {
  opacity: 0.45;
}
*/

/*
# means ID selector
+ ul means change the ul element that comes right after the selected id
*/

#eigenschaften + ul ol {
  font-size: 0.5em;
}


#start-ende, #start-ende + ul {
  padding-left: 35%;
  min-width: 75%;
}

#eingaben-ausgaben, #eingaben-ausgaben + ul {
  padding-left: 35%;
  min-width: 75%;
}

#operationen, #operationen + ul {
  padding-left: 35%;
  min-width: 75%;
}

#kommentare, #kommentare + ul {
  padding-left: 35%;
  min-width: 75%;
}

#abfragen, #abfragen + ul {
  padding-left: 35%;
  min-width: 75%;
}

#schleifen, #schleifen + ul {
  padding-left: 35%;
  min-width: 75%;
}

#unterprogramme, #unterprogramme + ul {
  padding-left: 35%;
  min-width: 75%;
}



.reveal .slide-background {
  background-position: 0% 50%;
}

.reveal li code, .reveal p code {
    border-radius: 5px;
    background-color: #c7c4b2;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: #8b743d;
}
